body{
    margin: 20px;

}
h1{
    font-size: 3rem;
    
}
.core{
    display: flex;
    flex-direction: row;
}
.core-items{
    width: 100%;
}
.core-items div{
    width: 80%;
    height: 200px;
  background-color: #00A3ff;
  margin: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  flex-direction: column;
  border-radius: 10px;
}
.choose{
    display: flex;
    flex-direction: row;
    
}
.choose-items{
    width: 70%;
    height: 400px;

}
span{
    font-weight: bold;
}
p{
    text-align: left;
}

#home-image {
    transform: rotate(-10.89deg);
    top: -20px;
    left: 50px;
}

.iconColor {
    color: var(--white-color);
}