.left {
    width: 40%;
    height: 100%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    color: var(--dark-grey);
    overflow: hidden;
    /* background-color: black; */
}


.f-password {
    text-align: right;
    font-size: .9rem;
    font-weight: normal;
}

#terms {
    display: flex;
    gap: .4rem;
    justify-content: flex-start;
    font-size: .9rem;
    font-weight: normal;
}

#terms input {
    width: 1.3rem;
}